<!-- seeInDetail.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See In Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 id="">Post Details</h1>


    <div>
        <p><strong>ID:</strong> <%= post.id %></p>
        <p><strong>Username:</strong> <%= post.userName %></p>
        <p><strong>Content:</strong> <%= post.content %></p>
    </div>
</body>
</html>
